

.add-new-journal-container {
  margin-left: 250px; 
  padding-top: 60px; 
  padding-left: 20px;
  padding-right: 20px;
  max-height: calc(100vh - 60px);
  overflow-y: auto; 


}
.fixed-inputs {
  display: flex;
  justify-content: flex-end; 
  padding-bottom: 10px;
}

.add-new-journal-header {
  padding-bottom: 20px;
}

.add-new-journal-form {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  background: #fff;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 60px - 20px); 
  overflow-y: auto; 
  padding-bottom: 50px;
}


.add-new-journal-table {
  width: 100%;
  margin-bottom: 20px;
  
}

.add-new-journal-error {
  color: red;
  margin-top: 10px;
}

.add-new-journal-success {
  color: green;
  margin-top: 10px;
  
}

.add-new-journal-table th, .add-new-journal-table td {
  padding: 8px;
  text-align: left;
}

.add-new-journal-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 4px;
  box-sizing: border-box;
}

.add-new-journal-button {
  padding: 10px 20px;
  margin-right: 10px;
}

