
.main-container {
  background-image: url('/src/main.jfif'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative; 
  z-index: 0; 
  
  display: flex;
  flex-direction: row; 
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
}


.main-header {
  background-color: lightcyan;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; 
  z-index: 1; 
  top: 0; 
}


.sidebar {
  background-color: #007BFF;
  width: 250px; 
  height: calc(100vh - 60px); 
  position: fixed; 
  top: 60px; 
  left: 0;
  z-index: 2; 
}

/* Content styles */
.content {
  margin-top: 1px; /* Below the header */
  margin-left: 250px; /* To the right of the sidebar */
  padding: 20px;
  
  flex-grow: 1; /* Fill remaining space */
}
.user-info {
  display: flex;
  align-items: center;
  
}

.logout-button {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.vip-icon {
  margin-left: 10px;
  cursor: pointer;
  /* Add more styling as per your design requirements */
}
.vip-icon-upgraded {
  margin-left: 10px;
  /* Add more styling as per your design requirements */
}