
.sidebar-menu {
  width: 250px;
  height: calc(100vh - 60px); 
  background-color: lightcyan;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  position: fixed; 
  top: 60px; 
  left: 0;
  background-image: url('/src/icon.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  
}

.sidebar-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  background-image: url('/src/icon.jpg'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}

.menu-item {
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sub-menu {
  padding-left: 15px;
  border-left: 2px solid #ccc;
}

.sub-menu-item {
  padding: 5px 0;
  cursor: pointer; 
  transition: background-color 0.3s;
}

.sub-menu-item:hover {
  background-color: #e0e0e0; /* The background color of the sub-menu-item changes when hovered */
}

.arrow {
  float: right;        /* Positions the arrow to the right */
  transition: transform 0.3s; /* Smooth transition for rotation */
}

.arrow.open {
  transform: rotate(90deg); /* Rotates the arrow 90 degrees to point downwards */
}
.menu-item.locked {
  color: #cccccc;
  cursor: not-allowed;
}

.menu-item.locked:hover {
  color: #cccccc;
  background-color: transparent;
}

.menu-item.locked .arrow {
  display: none; /* Hide arrow for locked items */
}
.lock-icon {
  cursor: pointer;
  width: 20px; /* Set the width of the lock icon */
  height: 20px; /* Set the height of the lock icon */
  margin-left: auto; /* Align the lock icon to the right */
}