

body {
  display: flex;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh; 
  margin: 0; 
  background-color: #f4f7f6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page {
  width: 100%;
  max-width: 400px; 
  padding: 40px;
  background: #ffffff; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  border-radius: 8px; 
}

.header {
  text-align: center; 
  margin-bottom: 40px;
}

.logo {
  width: 100px; 
  height: auto;
  margin-bottom: 10px; 
}

.welcome-text {
  margin-bottom: 40px; 
  color: #333; 
  font-size: 1.2rem; 
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
  color: #606770; 
  font-size: 0.9rem; 
}

.form-container input,
.form-container select {
  padding: 15px;
  border: 1px solid #ccd0d5; 
  border-radius: 8px; 
  font-size: 1rem;
  margin-bottom: 20px; 
}

.form-container button:not(.show-password-button) {
  padding: 15px;
  border: none; 
  border-radius: 8px; 
  font-size: 1rem;
  background-color: #1877f2; 
  color: #fff;
  transition: background-color 0.3s;
}

.form-container button:not(.show-password-button):hover {
  background-color: #165c9b; 
}

.error-message {
  background-color: #ffdddd; 
  border: 1px solid #f44336; 
  color: #f44336; 
  padding: 10px;
  border-radius: 8px; 
  margin-bottom: 20px; 
}

.password-container {
  position: relative;
}

.password-container input {
  flex-grow: 1;
}

.show-password-button {
  position: absolute;
  right: 10px; 
  top: 10px; 
  background-color: transparent; 
  color: #1877f2; 
  height: auto; 
  line-height: 1; 
  border-radius: 5px; 
}

.show-password-button:hover {
  color: #165c9b;
}

.signup-button {
  background-color: #42b72a;
}

.signup-button:hover {
  background-color: #368c22; 
}
.menu-item.locked {
  color: #cccccc;
  cursor: not-allowed;
}

.menu-item.locked:hover {
  color: #cccccc;
  background-color: transparent;
}

.menu-item.locked .arrow {
  display: none; 
}